body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
}

h2 {
  text-align: center;
}


form {
  max-width: 400px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #ffffff;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #2563eb;
  color: white;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #2563eb;
}
